body{
	background-color: whitesmoke;
}
#titulo{
	background-color: rgb(38, 36, 61);
	text-align: center;
	color:white;
	width: 50%;
	margin:auto;
}
#divNavBar{
	padding: 0px 10%;
}
#menu{
	padding: 0px 20%;
}
#menu ul{
	list-style: none;
	padding: 0px;
	margin:0;
}
#menu .item{
	float: left;
}
#menu .item a{
	text-align: center;
	background-color: none;
	text-decoration:none;
	padding: 12px 20px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	color:purple;
	font-family: rubik one;
	display: block;
}
#menu #submenu1{
	display: none;
	position: absolute;
	max-width: 10%;
}
#menu .item a:hover{
	background-color: #FAEBD7;
	display: block;
}
#menu .item:hover #submenu1{
	display: block;
}
#divLogin{
	background: #9400D3;
	position: absolute;
	top: 4px;
	right: 10px;
	z-index: 1;
	padding: 5px 1px;
	border:2px solid #66e67979;
	width:6%;
	height:10px;
	height:auto;
	display: inline-block;
	text-align: center;
	display: flex;
   	align-items: center;
	justify-content: center;
	margin-top: 7px;
	border-radius: 50px;
	color: white;   
}
#formLogin{
	display:none;
}
#divLogin .button{
	color: white;
	background:none;
	font-family: rubik one;
	font-size: 1.3vw;
	border: none;
	width: 70%;
	height: 35px;
	border-radius: 0px 10px 10px 0px;
}
#divLogin .button:hover{
	background: #6A5ACD;
	color:white;
}
#formLogin input{
	position: inherit;
	width: 70%;
}
#header{
	clear: both;
	padding: 15px;
}
#subtitulo{
	text-align: center;
	width: 100%;
	margin-top: 30px;
	height: 50px;
	color: #32CD32;
	top:10px;
	padding: 0px;
	display: block;
}
#cajamadre{
	margin-top: 10px;
	border:2px solid black;
	padding: 2% 0%;
	background-color:  rgb(38, 36, 61);
}
.fila{
	padding:2% 5%;
	height:52%;
}
.sectionfila{
	background-color: #228B22;
	position: inherit;
	margin-top: 0px;
	padding: 1% 1%;
	width: 26%;
	height: 100%;
	margin-left: 3%;
	display: inline-block;
}
.cuadro{
	width: 100%;
	height: 60%;
}
.bxinfo{
	margin-top:0px; 
	background-color: #F5F5F5;
	width: 96.5%;
	height: 35%;
	padding:5px;
}
.sectionfila:hover{
	width: 25.3%;
	height: 99.3%;
	border:2px solid #FF00FF;
	transition-duration: 1s;
}
#bxbh{
	position: absolute;
	margin-left: 10px;
}
#bh{
	width: 40px;
	height: 40px;
}
img{
	max-width: 100%;
}
.imgs{
	height: 400px;
	width: 600px;
}
/*
#bxinfo{
	position: absolute;
	margin-left: 47%;
	margin-right: 25px;
	margin-top: 12px;
	border-bottom: 2.5px solid rgb(180, 43, 43);
	background-color: whitesmoke;
	font-family: 'Franklin Gothic Medium';
}*/
footer{
	background: #3286ec;
	color: white;
	padding: 5px 10px;
	margin-top: 5%;
}
#buttonContact{
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}
#buttonContact:hover{
	background-color: yellow;
}