html,body{
	height: 100%;
}
body{
	background-color: white;
	margin: 0px;
	padding: 0px;
}
#bxen{
	background-color: rgb(38, 36, 61);
	position: absolute;
	position: fixed;
	width: 100%;
	height: 14%;
}
#menu{
	position: relative;
	border: 0px;
	top:15%;
	left: 20%;
	list-style: none;
	text-align: center;
}
#menu li{
	width: 15%;
	height: 30px;
	border-left: 1px solid black;
}
#menu li a{
	position: relative;
	height: 100%;
	background-color: #00000070;
	text-decoration: none;
	color:white;
	display:block;
}
#menu li:hover{
	background-color: #858585;
}
#menu > li{
	float: left;
}
#menu li ul {
	display:none;
	position:absolute;
}
#menu li:hover > ul{
	display: inline-block;
}
#menu li ul li{
	list-style: none;
	position: relative;
	right: 119%;
	width: 173.5%;
}
#divLogin{
	border: 2px solid black;
	background: #9400D3;
	position: absolute;
	top: 13px;
	right: 75px;
	z-index: 1;
	padding: 5px 1px;
	border:2px solid #66e67979;
	width:6%;
	height:10px;
	height:auto;
	display: inline-block;
	text-align: center;
	display: flex;
   	align-items: center;
	justify-content: center;
	margin-top: 7px;
	border-radius: 50px;
	color: white;   
}
#formLogin{
	display:none;
}
#divLogin .button{
	color: white;
	background:none;
	font-family: rubik one;
	font-size: 1.3vw;
	border: none;
	width: 70%;
	height: 35px;
	border-radius: 0px 10px 10px 0px;
}
#divLogin .button:hover{
	background: #6A5ACD;
	color:white;
}
#formLogin input{
	position: inherit;
	width: 70%;
}
#imgestado{
	margin-left: 75px;
	position: absolute;
	display: 0px;
	width: 120px;
	height: 102px;
}
img{
	max-width: 100%;
}
.imgs{
	height: 370px;
	width: 100%;
}
.container-all{
	overflow: hidden;
	position: absolute;
	border-radius: 6px;
	margin-top: 5.8%;
	height: 390px;
	width: 100%;
}
.slide{
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.item-slide{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	height: 100%;
}
.pagination{
	position: absolute;
	bottom: 30px;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 10px;
	text-align: center;
	transition: all 300ms;
}
.pagination-item:hover{
	transform: scale(2);
}
.pagination-item img{
	display: inline-block;
	max-width: none;
	height: 100%;
	transform: scale(1);
	opacity: 0;
	transition: all 300ms;
}
.pagination-item:hover img{
	opacity: 1;
	transform: scale(1);
}
input[id="1"]:checked ~ .slide{
	animation: none;
	transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
	background: #fff;
}
input[id="2"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
	background: #fff;
}
input[id="3"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
	background: #fff;
}
input[id="4"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
	background: #fff;
}
input[id="5"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 4), 0, 0);
}
input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
	background: #fff;
}
@keyframes autoplay{
	20%{
		transform: translate3d(calc(-100% * 0), 0, 0);
	}
	
	40%{
		transform: translate3d(calc(-100% * 1), 0, 0);
	}
	
	60%{
		transform: translate3d(calc(-100% * 2), 0, 0);
	}
	80%{
		transform: translate3d(calc(-100% * 3), 0, 0);
	}
	100%{
		transform: translate3d(calc(-100% * 4), 0, 0);
	}
}
.hipers{
	color: black;
	font-size:20px; 
	font-family: fantasy;
	text-align:center;
	}
#conmas{
	background-color: rgb(255, 255, 255);
	position: absolute;
	display: inline-block;
	margin-top: 63%;
	margin-left: 40%;
	font-size: 50px;
}
#pconmas{
	border-bottom: 2.5px solid rgb(180, 43, 43);
	background-color: white;
	font-family: 'Franklin Gothic Medium';
}
.divcon{
	background-color: white; 
	box-shadow: 5px 5px 5px 5px white;
	margin-right: 10px;
	margin-left: 3%;
	height: 100%; 
	width: 28.7%; 
	display:inline-block
	}
#divcon1{
	position: absolute;
	margin-top: 73%;
	display:inline-block;
	height: 55%;
}
#divcon2{
	position: absolute;
	margin-top: 73%;
	margin-left: 35.5%;
	display:inline-block;
	height: 55%;
}
#divcon3{
	position: absolute;
	margin-top: 73%;
	margin-left: 68%;
	display:inline-block;
	height: 55%;
}
.imgsmn{
	width: 100%;
	height: 80%;
}
#imgsmn1{
	margin-top: 5px;
}
#imgsmn3{
	margin-top: 5px;
}
#divcon01{
	position: absolute;
	margin-top: 33%;
	display:inline-block;
	height: 55%;
}
#divcon02{
	position: absolute;
	margin-top: 33%;
	margin-left: 35.5%;
	display:inline-block;
	height: 55%;
}
#divcon03{
	position: absolute;
	margin-top: 33%;
	margin-left: 68%;
	display:inline-block;
	height: 55%;
}
#footer{
	background:  rgb(38, 36, 61);
	position: absolute;
	margin-top: 103%;
	width: 100%;
	height: 39%;
	display: flex;
}
#contfooter{
	color: white;
	border: 0px;
	background-color: rgb(38, 36, 61);
	box-shadow: 5px 5px 5px 5px rgba(38, 36, 61, 0.623);
	display: inline-block;
	position: relative;
	margin-top: 40px;
	margin-left: 5%;
	padding-left: 2px;
}
#bxcont{
	color: white;
	position: absolute;
	display: inline-block;
	font-size: 25px;
	margin-left: 5%;
	margin-bottom: 10px;
	margin-top: 0px;
	border: 0px;
	height:50px;
}
#buttonContact{
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}
#buttonContact:hover{
	background-color: yellow;
}