#divLoginf{
	border: 2px solid black;
	background: #9400D3;
	position: absolute;
	top: 4px;
	right: 10px;
	z-index: 1;
	padding: 5px 1px;
	border:2px solid #66e67979;
	display: inline-block;
	text-align: center;
   	align-items: center;
	justify-content: center;
	margin-top: 7px;
	border-radius: 50px;  
	width: 15%;
	height: auto;
	border-radius: 5px;
	color: white;
}
#divLoginf #formLogin{
	display: block;
}
#divLoginf .button{
	color: white;
	background:none;
	font-family: rubik one;
	font-size: 1.3vw;
	border: none;
	border:2px solid darkblue;
	border-radius: 1px;
	width: 70%;
	height: 35px;
	border-radius: 2px;
}
#divLoginf .button:hover{
	background: red;
	color:white;
}
#botonLoginF{
	width: 70%;
	height: 40px;
}
#pUsuarioF{
	display:inline-block;
	padding: 5px 20%;
	border: 2px hidden darkblue;
	width:25%;
	text-align: center;
}