body{
	background-color: whitesmoke;
	margin:0px;
	padding: 0px;
}
#header{
	width: 50%;
	margin: 2% auto;
	font-size: 2.3vw;
}
#divNavBar{
	padding: 0px 0%;
	margin-top: 5px;
}
#menu{
	position: relative;
	padding: 0px 0%;
	margin-left: 0;
}
#menu > ul{
	list-style: none;
	width: 70%;
	padding: 0px;
	margin:0;
	position: absolute;
	margin-left: 18%;
}
#menu ul{
	list-style: none;
}
#menu .item{
	float: left;
	width: 30%;
	position: relative;
}
#menu .item a{
	color: white;
	text-align: center;
	background-color: none;
	color:purple;
	text-decoration:none;
	padding: 10px 20px;
	height: 12px;
	font-size: 1.5vw;
	font-family: rubik one;
	display: flex;
	justify-content: center;
	align-items: center;
}
#subitem{
	position: absolute;
	width: 100%;
	padding:0px;
}
#menu #submenu1{
	display: none;
	padding-left: 0px;
}
#menu .item ul li a{
	padding-top: 5%;
	padding-bottom: 5%;
	width: auto;
	display: flex;
	font-size: 1.2vw;
	position:inherit;
	text-align: center;
}
#menu .item a:hover{
	background-color: #FAEBD7;
}
#menu .item:hover #submenu1{
	display: block;
}
#divLogin{
	background: #9400D3;
	position: absolute;
	top: 4px;
	right: 30px;
	z-index: 1;
	padding: 5px 1px;
	border:2px solid #66e67979;
	width:6%;
	height:10px;
	height:auto;
	display: inline-block;
	text-align: center;
	display: flex;
   	align-items: center;
	justify-content: center;
	margin-top: 7px;
	border-radius: 50px;
	color: white;   
}
#divLogin:hover{
	background-color: #6A5ACD;
}
#formLogin{
	display:none;
}
#divLogin .button{
	color: white;
	background:none;
	font-family: rubik one;
	font-size: 1.3vw;
	border: none;
	width: 70%;
	height: 35px;
	border-radius: 0px 10px 10px 0px;
}
#divLogin .button:hover{
	color:white;
}
#formLogin input{
	position: inherit;
	width: 70%;
}
.text{
	text-align:center;
}
.cleaner{
	clear: both;
}
#subtitulo{
	border:;
	text-align: center;
	width: 100%;
	margin-top: 115px;
	margin-bottom: 5px;
	height: 50px;
	color: #00BFFF;
	top:10px;
	padding: 0px;
	display: block;
}
#bxbh{
	position: absolute;
	margin-left: 30px;
	top:5px;
}
#bh{
	width: 10%;
	height: auto;
}
img{
	max-width: 100%;
}
.imgs{
	height: 400px;
	width: 600px;
}
hr{
	border:2px solid red;
	margin-top: 17px;
}
.cajamadre{
	border:;
	padding: 2%;
}
.filacm{
	border:;
	display: flex;
	align-items: center;
}
.cmimagen{
	position: relative;
	margin-left:5%;
	height: auto;
	width: 100%;
}
#bxinfo1{
	padding:2px 1% 2px 1%;
	width: 90%;
	border:;
	display: inline-block;
	position:relative;
	text-align: justify;
	height: auto;
	margin-left:5%;
	margin-right:;
	background-color: whitesmoke;
	font-family: 'Franklin Gothic Medium';
}
.container-all{
	display: inline-block;
	position: relative;
	margin-left:5%;
	height: 200px;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
}
.slide{
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.item-slide{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	height: 100%;
}
@keyframes autoplay{
	20%{
		transform: translate3d(calc(-100% * 0), 0, 0);
	}
	
	40%{
		transform: translate3d(calc(-100% * 1), 0, 0);
	}
	
	60%{
		transform: translate3d(calc(-100% * 2), 0, 0);
	}
	80%{
		transform: translate3d(calc(-100% * 3), 0, 0);
	}
	100%{
		transform: translate3d(calc(-100% * 4), 0, 0);
	}
}
.subtitulo2{
	margin-top: 5px;
	margin-bottom: 5px;
	border:;
	text-align: center;
	color:#00BFFF;
}
footer{
	background: #3286ec;
	color: white;
	padding: 5px 10px;
	margin-top: 5%;
}
#buttonContact{
	margin-top: 10px;
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}
#buttonContact:hover{
	background-color: yellow;
}
@media only screen and (max-width: 800px) {
	#divLogin{
		width:10%;
	}
}