body{
	background-color:whitesmoke;
	margin:0;
	padding: 0;
}
#header{
	width: 50%;
	margin: 2% auto;
	font-size: 2.3vw;
}
#divNavBar{
	padding: 0px 0%;
	margin-top: 5px;
}
#menu{
	position: relative;
	padding: 0px 0%;
	margin-left: 0;
}
#menu > ul{
	list-style: none;
	width: 80%;
	padding: 0px;
	margin:0;
	position: absolute;
	margin-left: 10%;
}
#menu ul{
	list-style: none;
}
#menu .item{
	float: left;
	width: 25%;
	position: relative;
}
#menu .item a{
	color: white;
	text-align: center;
	background-color: none;
	color:purple;
	text-decoration:none;
	padding: 10px 20px;
	height: 12px;
	font-size: 1.5vw;
	font-family: rubik one;
	display: flex;
	justify-content: center;
	align-items: center;
}
#subitem{
	position: absolute;
	width: 100%;
	padding:0px;
}
#menu #submenu1{
	display: none;
	padding-left: 0px;
}
#menu .item ul li a{
	padding-top: 5%;
	padding-bottom: 5%;
	width: auto;
	display: flex;
	position:inherit;
	text-align: center;
}
#menu .item a:hover{
	background-color: #FAEBD7;
}
#menu .item:hover #submenu1{
	display: block;
}
#divLogin{
	background: #9400D3;
	position: absolute;
	top: 4px;
	right: 30px;
	z-index: 1;
	padding: 5px 1px;
	border:2px solid #66e67979;
	width:6%;
	height:10px;
	height:auto;
	display: inline-block;
	text-align: center;
	display: flex;
   	align-items: center;
	justify-content: center;
	margin-top: 7px;
	border-radius: 50px;
	color: white;   
}
#divLogin:hover{
	background-color: #6A5ACD;
}
#formLogin{
	display:none;
}
#divLogin .button{
	color: white;
	background:none;
	font-family: rubik one;
	font-size: 1.3vw;
	border: none;
	width: 70%;
	height: 35px;
	border-radius: 0px 10px 10px 0px;
}
#divLogin .button:hover{
	color:white;
}
#formLogin input{
	position: inherit;
	width: 70%;
}
.text{
	text-align:center;
}
.cleaner{
	clear: both;
}
#subtitulo{
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #808000;
	margin-top:115px;
	height: 50px;
	color: white;
	top:10px;
	padding: 0px;
}
#cajamadre{
	padding: 0% 0%;
	border:2px hidden red;
	height: 800px;
	background-color: none;
}
.fila{
	border:2px hidden yellow;
	display: flex;
	padding:10px 5%;
	height: 376px;
}
.sectionfila{
	border-radius: 20px;
	background-color: #008000;
	border:2px solid green;
	padding: 10px 1%;
	height: 356px;
	width: 26%;
	margin-left: 3.6%;
}
.cuadro{
	border:2px hidden brown;
	height: 60%;
}
.bxinfo{
	margin-top:0px;
	background-color: white;
	height: 35%;
	text-align: justify;
	padding:5px;
	font-size: 1.2vw;
	border:2px hidden orange;
}
.sectionfila:hover img{
	transform: scale(1.2);
}
.cuadro img{
	border:;
	width: 100%;
	height: 100%;
}
#bxbh{
	position: absolute;
	margin-left: 30px;
	top:5px;
}
#bh{
	width: 10%;
	height: auto;
}
img{
	max-width: 100%;
}
.imgs{
	height: 400px;
	width: 600px;
}
.container-all{
	position: relative;
	margin-top: 2%;
	margin-left: 2%;
	height: 65%;
	width: 45%;
	border-radius: 6px;
	overflow: hidden;
}
.slide{
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.item-slide{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	height: 100%;
}
.pagination{
	position: absolute;
	bottom: 20px;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 10px;
	text-align: center;
	transition: all 300ms;
}
.pagination-item:hover{
	transform: scale(2);
}
.pagination-item img{
	display: inline-block;
	max-width: none;
	height: 100%;
	transform: scale(1);
	opacity: 0;
	transition: all 300ms;
}
.pagination-item:hover img{
	opacity: 1;
	transform: scale(1);
}
input[id="1"]:checked ~ .slide{
	animation: none;
	transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
	background: #fff;
}
input[id="2"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
	background: #fff;
}
input[id="3"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
	background: #fff;
}
input[id="4"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
	background: #fff;
}
input[id="5"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 4), 0, 0);
}
input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
	background: #fff;
}
@keyframes autoplay{
	20%{
		transform: translate3d(calc(-100% * 0), 0, 0);
	}
	
	40%{
		transform: translate3d(calc(-100% * 1), 0, 0);
	}
	
	60%{
		transform: translate3d(calc(-100% * 2), 0, 0);
	}
	80%{
		transform: translate3d(calc(-100% * 3), 0, 0);
	}
	100%{
		transform: translate3d(calc(-100% * 4), 0, 0);
	}
}
#bxinfo{
	position: absolute;
	margin-left: 47%;
	margin-right: 25px;
	margin-top: 12px;
	border-bottom: 2.5px solid rgb(180, 43, 43);
	background-color: whitesmoke;
	font-family: 'Franklin Gothic Medium';
}
footer{
	background: #556B2F;
	color: white;
	padding: 5px 10px;
	margin-top: 5%;
}
#buttonContact{
	margin-top: 10px;
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}
#buttonContact:hover{
	background-color: yellow;
}
@media only screen and (max-width: 800px) {
	#divLogin{
		width:10%;
	}
}