#divLogin{
	border: 2px solid black;
	background:blue;
	position:absolute;
	top:5px;
	right: 10px;
	z-index: 1;
	padding: 10px 1px;
	border:2px solid red;
	width:10%;
	height:auto;
	display: inline-block;
	text-align: center;
	display: flex;
   	align-items: center;
	justify-content: center;
	margin-top: 7px;   
}
#formLogin{
	display:none;
}
#divLogin .button{
	background: green;
}
#divLogin .button:hover{
	background: red;
	color:white;
}
#formLogin input{
	position: inherit;
	width: 70%;
}
body{
	background-color: rgb(242, 231, 252);
}
#bxall{
	background-color:  rgba(212, 227, 255, 0.932);
	padding-top: 10px;
}
#diven{
	background-color: rgba(212, 227, 255, 0);
	position: absolute;
	margin-right: 70%;
	margin-left: 15px;
	width: 37%;
	}
.txt{
	text-align:center;
	font-family:'Verdana';
	}
h1{
	text-align:center;
	font-size: 50px;
	}
#desen{
	background-color: rgb(145, 145, 240);
	position: absolute;
	box-shadow: 5px 5px 5px 5px rgba(145, 145, 240, 0.712);
	width: 16%;
	margin-right: 65%;
	margin-left: 1%;
	margin-top: 3%;
}
#imgestado{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: 1%;
	}
img{
	max-width: 100%;
}
.imgs{
	height: 415px;
	width: 100%;
}
.container-all{
	overflow: hidden;
	height: 390px;
	width: 100%;
	border-radius: 6px;
	margin-top: 90px;
}
.slide{
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: all 600ms;
	animation-name: autoplay;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.item-slide{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	height: 100%;
}
.pagination{
	position: absolute;
	bottom: 145px;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 10px;
	text-align: center;
	transition: all 300ms;
}
.pagination-item:hover{
	transform: scale(2);
}
.pagination-item img{
	display: inline-block;
	max-width: none;
	height: 100%;
	transform: scale(1);
	opacity: 0;
	transition: all 300ms;
}
.pagination-item:hover img{
	opacity: 1;
	transform: scale(1);
}
input[id="1"]:checked ~ .slide{
	animation: none;
	transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
	background: #fff;
}
input[id="2"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
	background: #fff;
}
input[id="3"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
	background: #fff;
}
input[id="4"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
	background: #fff;
}
input[id="5"]:checked ~ .slide{
	animation: none;
	transform: translate3d(calc(-100% * 4), 0, 0);
}
input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
	background: #fff;
}
@keyframes autoplay{
	20%{
		transform: translate3d(calc(-100% * 0), 0, 0);
	}
	
	40%{
		transform: translate3d(calc(-100% * 1), 0, 0);
	}
	
	60%{
		transform: translate3d(calc(-100% * 2), 0, 0);
	}
	80%{
		transform: translate3d(calc(-100% * 3), 0, 0);
	}
	100%{
		transform: translate3d(calc(-100% * 4), 0, 0);
	}
}
.divcon{
	background-color:rgb(144, 238, 144); 
	box-shadow: 5px 5px 5px 5px rgba(144, 238, 144, 0.829);
	margin-top: 50px;
	margin-right: 15px;
	margin-left: 20px;
	height:295px; 
	width:181px; 
	display:inline-block
	}
.hipers{
	font-size:20px; 
	font-family: fantasy;
	text-align:center
	}
#bxdivcon{
	position: absolute;
	margin-left: 18%;
}
footer{
	background: black;
	color: white;
	position: absolute;
	margin-top: 65%;
	width: 100%;
}
#buttonContact{
	background-color: lightblue;
	font-weight: bold;
	color:navy;
}
#buttonContact:hover{
	background-color: yellow;
}