#diven{
	background-color:yellow
	}
.divcon{
	background-color:lightgreen; height:200px; width:266px; display:inline-block
	}
.hipers{
	font-size:23px; text-align:center
	}
.bor{
    border=1px; solid; black
    }
.txt{
    text-align:center
    }